{% extends "base.html" %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
     <div class="wrapper" >
            <div class="kartinka" style="padding-right: 10px">
                <img src="{{book.image.url}}" alt="{{ book.title }}" width="300" height="450">
            </div>
            <div class="info" style="padding-top: 50px; padding-left: 60px" >
                <h1>
                    {{ book.title }}
                </h1>
                <p class="author" style="padding-top: 20px">
                     Автор: {{ book.author }}
                </p>
                <p class="date">
                     Добавлена {{ book.publish }}
                </p>
                {{ book.body|truncatewords:30|linebreaks }}
            </div>
        </div>
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} комментари{{ total_comments|pluralize:"й,ев" }}
    </h2>
    {% endwith %}
    <div id="hello">
    {% for comment in comments %}
    <div class="comment">
        <p class="info" style="font-weight: bold;padding-top: 10px" >
            Комментарий № {{ forloop.counter }}
        <p class="info">
        <span style="color:blue; ">
            {{ comment.name.first_name }} {{ comment.name.last_name }}
        </span>
        <span style='color: gray;'>
            {{ comment.created }}
        </span>
        </p>
        <p class="info">
        {{ comment.body}}
        </p>
        {% if comment.imagin %}
        <p class="imaginate" style="width: 100px;height: 100px">
            <img src="{{comment.imagin.url}}" alt="Картинка" width="80" height="110" style="padding-bottom: 3px; padding-left: 10px  ">
        </p>
        {% endif %}
    </div>
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    <div id="review-cards" style="padding-left: 10px"></div>>
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <div style="padding-left: 10px">
        <h2>Добавить комментарий</h2>
        <form enctype="multipart/form-data" action="." method="post" id="newcomment">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Добавить"  id="product-form-button"></p>
        </form>
        </div>
    {% endif %}
{{ book.body|linebreaks }}
{% block javascript %}
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#newcomment").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'books:book_detail' ident=book.id %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#newcomment").trigger('reset');
                var name=response['name'];
                var body=response['body'];
                 $('#review-cards').append("<div class=\"commen\">"+
        "<p class=\"info\" style=\"font-weight: bold;padding-top: 10px\" > Ваш комментарий"+
        "<p class=\"info\">"+
        "<span style=\"color:blue; \">"+
        "</span>"+
        "<span style=\"color: gray;\">"+
        "</span>"+
        "</p>"+
        "<p class=\"info\">"+
        body+
        "</p>"+
    "</div>")
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
$(document).ready(
        function () {
            // TODO: Вынести валидацию и запрос в отдельные js-файлы
            // Валидация страницы добавления продукта
            alert('helloworld')
            $('#newcomment').validate({
                    body: {
                        required: true,
                        minlength: 10,
                        maxlength: 40
                    },
                    imagin: {
                        required: true
                    },
                success: function(){
                    $("#product-form-button").attr('disabled', false);
                }
            })
            });
</script>
{% endblock javascript %}
{% endblock %}