{% load el_pagination_tags %}
{% paginate books %}
{% for book in books %}
        <div class="wrapper">
            <div class="kartinka">
                <img src="{{book.image.url}}" alt="{{ book.title }}" width="100" height="100">
            </div>
            <div class="info" style="padding-left:10px">
                <h2>
                    <a href="{{ book.id }}">{{ book.title }}</a>
                </h2>
                <p class="author">
                     Автор {{ book.author }}
                </p>
                <p class="date">
                     Добавлена {{ book.publish }}
                </p>
                {{ book.body|truncatewords:30|linebreaks }}
            </div>
        </div>
{% endfor %}
{% show_more %}