body
{
    background-color: #eeeeee;
}
#content
{
    background-color: #eeeeee;
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 500px;

}
.wrapper
{
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.wrapper
{
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.comment
{
    padding-left: 15px;
}
.kartinka
{
    padding-top: 5px;
    margin-top: 5px;
}
.author
{
    font-size: large;
    color: gray;

}
.info
{
    padding-left: 10px;
}